/* @font-face { font-family: EdgeOfGalaxy; src: url('../fonts/PrometheanBoldItalic-pdnr.otf'); } */
.me-pic {
    height: 200px;
}
.carousel-description {
    text-align: center;
    font-size: 18px;
}
.mainHeader {
    display: flex;
    flex-direction: row;
  }
  #header-here {
    padding: 140px 0 100px;
    background-color: #f1a79d;
  }
 
  section {
    padding: 20px 0;
  }

        /* Navigation and Main menu design */

  .position-fixed {
    position: fixed !important;
  }
  
  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  #main-nav {
    background-color: #333;
  }
  
  #main-nav > .fs-header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 22px;
    padding: 12px;
  }
 
.adjust-text-height {
  align-items: flex-start;
}
#main-nav > .fs-header-title > a {
  color: #e8c500 !important;
  list-style: none;
  font-style: italic;
  position: relative;
  animation: slide 3s;
  font-size: 28px;
}
@keyframes slide {
  0%   {left: 1400px;}
  100% {left: 0px;}
}
.nav-item-list > li > a {
  margin: 1em;
}

.nav-menu-icon {
    width: 35px;
    height: 5px;
    background-color: gold;
    margin: 3px 0;
}

#main-nav > .fs-header-title > ul > li {
  float: right;
}

#main-nav > .fs-header-title > ul > li > a {
  float: right;
  color: #e8c500 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
}

.menu {
  color: #e8c500;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-item-list {
  list-style: none;
    display: none;
    overflow: hidden;
}

.open-menu > ul{
  display: block;
} 

      /* Section-specific design */

.container > .row h3 {
  padding-bottom: 1.5em;
  text-align: center;
}

.gateway-mentoring-section > div h4, .Q-Redo-section > div h4 {
    padding: .5em;
    margin: 2em;
    margin-right: 1em;
    color: black !important;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    line-height: 1.3em;
}

.gateway-mentoring-section {
  margin: 10px;
  border-right: 15px solid #10b05f;
  border-bottom: 15px solid #075f33;
  border-top: 15px solid #e2e2e2;
  border-left: 15px solid #b9b9b9;
  background-color: #f1f1f1;
  margin-top: 10vh; 
          /* MARGIN IS ONLY UNTIL I FIX THE TOGGLE MENU AT TOP- currently it's blocking view */
}
.gateway-mentoring-section > div h4 {
  background-color: #defddc;
}

.Q-Redo-section > div h4 {
  background-color: #e7d2fb;
}


.Q-Redo-section {
  /* border: 10px solid #430396; */
  margin: 10px;
  border-bottom: 15px solid #430396;
  border-right: 15px solid #a788c3;
  border-top: 15px solid #e2e2e2;
  border-left: 15px solid #b9b9b9;
  background-color: #f1f1f1;
  /* background-color: #fff2b0;
  color: #430396; */
}

/* Specific to Front End */

.iframe {
  min-width: 1000px;
  height: 800px;
}

#best-eats-site-carousel {
  max-width: 80vw;
}

h2 {
  color: purple;
}


/* all media queries */

@media (max-width: 992px) {
  .gateway-mentoring-section > div h4, .Q-Redo-section > div h4 {
    margin-top: 2em;
  }
  .gateway-mentoring-section {
     margin-top: 12vh;
  }
}

@media (max-width: 825px) {
  .gateway-mentoring-section, .Q-Redo-section {
    margin: 0px;
  }
  .gateway-mentoring-section {
    margin-top: 12vh;
 }
}

@media (max-width: 825px) {
  .gateway-mentoring-section, .Q-Redo-section {
    margin: none;
  }
}

@media (max-width: 745px) {
  .nav-item-list > li > a {
    margin: .5em;
    font-size: 14px;
  }
}