@font-face { font-family: EdgeOfGalaxy; src: url('fonts/Promethean3DItalic-eBD3.otf'); } 
body {
  overflow-x: hidden;
  background-color: #f5e483;
  display: block;
  height: 100vh;
}
.main-body {
  height: 85vh;
  width: 100vw;
}

.inner-body {
  background: url(assets/main-page/starfleet-rainbow-yellow.png) no-repeat;
  background-position: center;
  background-size: 900px 650px;
  height: 100%;
}

h1 {
  background-color: black;
  color: #f5e483;
  font-family: EdgeOfGalaxy;
  letter-spacing: 8px;
  margin: 1em;
  margin-right: -10px;
  padding: .25em 1em;
  font-size: 32px;
}

a {
    list-style: none;
    font-style: italic;
    position: relative;
    animation: slide 2s;
    font-size: 28px;
}
@keyframes slide {
    0%   {left: 1400px;}
    100% {left: 0px;}
}

.development-container {
  padding-top: 2vh;
  display: flex;
  justify-content: space-around;
}

#fe-site {
  color: #832db8;
}

#fs-site {
  color: #f74385;
}

.writing-container {
  padding-top: 70vh;
  text-align: center;
}

#writing-site {
  color: #075f33;
}

@media (max-height: 700px) {
  .inner-body {
    background-size: 600px 450px;
  }
@media (max-width: 750px) {
    .inner-body {
      background-size: 500px 350px;
    }
  }
}