:root {
    --primary-font: "Belleza", sans-serif;
    --secondary-font: "Jacques Francois Shadow", "Times New Roman";
    --primary-color: hsl(311, 54%, 42%);
    --secondary-color: hsl(328, 92%, 90%);
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    padding: 5px 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    justify-content: space-between;
}

header>div {
    display: flex;
    align-items: center;
}

#hh-logo {
    margin: 10px 20px;
    width: 120px;
}

nav {
    width: 30vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav>a {
    font-size: 20px;
    cursor: pointer;
    font-family: var(--primary-font);
    color: var(--secondary-color);
    text-decoration: none;
}

header>div>a {
    font-size: inherit;
    margin: 0;
    text-decoration: none;
    height: 99px;
}

.about-joel {
    display: flex;
    justify-content: space-around;
}

.about-joel>img {
    height: 100px;
}

a:hover {
    color: white;
}

section {
    margin: 30px;
    display: flex;
    flex-direction: column;
    /* box-shadow: 2px 2px 20px var(--secondary-color); */
    padding: 10px 20px;
}

section:nth-child(even) {
    box-shadow: 2px 2px 20px var(--secondary-color);
}

h2 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h3 {
    color: var(--primary-color);
    margin: 5px 0;
}

section img {
    height: 300px;
}

#emoji-view>div,
#communicate-view>div {
    display: flex;
    justify-content: space-around;
}

section p {
    padding: 10px 30px;
    font-family: var(--primary-font);
    font-size: 18px;
}

footer {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.contact-me>p {
    margin: 0;
}

.contact-me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}